---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if title %}{{title}}, {% endif %}Zoogcast</title>        
        <meta charset="UTF-8">
        <meta name="description" content="Zoogcast">
        <meta name="keywords" content="Disney Channel Original Movies">
        <meta name="author" content="Karly Nelson">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css?v={% version %}"/>
    </head>
    <body class="max-w-2xl mx-auto">
        {{ content | safe }}
    </body>
</html>