<header role="banner">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}
  <nav>
    <ul>
      <li class="nav-list-left">
        <button>
          <a class="page-link" href="{{ "/about" | relative_url }}">About</a>
        </button>
      </li>
      <li class="nav-list-mid">
        <a class="header-logo" href="{{ "/" | relative_url }}">
          <img src="{{ "/assets/images/zoogcast-logo.png" | relative_url }}" alt="">
        </a>
      </li>
      <li class="nav-list-right">
        <button>
          <a class="page-link" href="{{ "/contact" | relative_url }}">Contact</a>
        </button>
      </li>
    </ul>
  </nav>
</header>

<hr>
