$teal: #03d7d9;
$purple: #4e03e0;

body {
  text-align: center;
  background: black;
  background-image: url(images/stars.gif);
  color: white;
  font-size: 24px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: $teal;
  font-weight: bold;
}

button {
  background: $purple;
  color: white;
  font-size: 16px;

  &:hover,
  &:focus {
    background: $teal;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: normal;

  }
}

ul {
  list-style: none;
  padding: 0;
}

header:after {
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}


.header-logo {
  img {
    height: 150px;
  }
}

nav {
  ul {
    margin: 0;
    display: table;
    width: 100%;
  }

  li {
    display: table-cell;
    vertical-align: middle;
  }
}

.nav-list-left,
.nav-list-right {
  width: 50%;
}

.nav-list-left {
  text-align: right;
}

.nav-list-mid {
  width: 20px;
}

.nav-list-right {
  text-align: left;
}

footer {
  font-size: 16px;
}

.post-list-img {
  height: 200px;
}
