$teal: #03d7d9;
$purple: #c58ffb;

body {
  text-align: center;
  background: black;
  background-image: url(images/stars.gif);
  color: white;
  font-size: 24px;
}

main {
  max-width: 1000px;
  margin: 75px auto;
}

a {
  color: $teal;
  font-weight: bold;

  &:hover {
    opacity: .75;
  }

  &:visited {
    color: $purple;;
  }
}

button {
  background: $purple;
  color: white;
  font-size: 16px;

  &:hover,
  &:focus {
    background: $teal;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: normal;

  }
}

ul {
  list-style: none;
  padding: 0;
}

header:after {
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}


.header-logo {
  text-indent: -99999px;
  &:hover {
    opacity: .75;
  }
  img {
    height: 150px;
  }
}

nav {
  ul {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    flex: 0 0 auto;
  }
}

footer {
  font-size: 16px;
}

.post-list-img {
  height: 200px;
}

.comments {
  margin-top: 100px;
}
